body {
    text-align: center;
    background-image: url(../images/swamp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    color: white !important;
}

h4 {
    font-family: 'Telex', sans-serif;
}
h1 {
    font-family: 'Josefin Slab', serif;
    font-size: 3em !important;
}
#bank {
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}
button {
    height: 100px;
    width: 100px;
    border-radius: 300px !important;
}        

#game {
    font-size: 8em;
    height: 500px;
    width: 500px;
    border-radius: 300px;
    background-image: url('../images/shrek-click.png');
    background-position: center;
    background-size: cover;
    color: rgb(248, 215, 215);
}
button:focus {
    outline: 0px;
}
#bank {
    font-family: 'Montserrat', sans-serif;
}

.col-md-4 {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#bighands {
    background-image: url("../images/bighands.jpg");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
#layers {
    background-image: url("../images/onision.jpg.png");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
#babies {
    background-image: url("../images/shbrekbaby.jpg");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
#donkey {
    background-image: url("../images/donkey.jpg");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#pussinboots {
    background-image: url("../images/pussboots.jpg");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}
#dragon {
    background-image: url("../images/drake.jpg");
    background-position: center;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
}

#cpspowerups {
    background-image: url("../images/sign.png");
    background-size: 150%;
}

#clickerpps {
    background-image: url("../images/sign.png");
    background-size: 150%;
}